html {
    scroll-behavior: smooth;
  }
.section{
    height: 98vh;
    padding: 10%;
    /* padding-top: 5% ; */
}
.profile{
    margin: auto;
    max-width: 60%;
}
.sidebar {
    top: 0;
    left: 0;
    height: 100vh;
}
.rightbar {
    padding-left: 25%;
}
.projectcard{
    min-height: 150px;
    min-width: 200px;
}
.certifications{
    height: 50px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.myname{
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  }
table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
li > a:link {
    color: white;
    transition: font-size .5s;
  }
  
  /* visited link */
 li > a:visited {
    color: white;
  }
  
  /* mouse over link */
 li > a:hover {
    color: white;
    font-size: 25px;
  }
  
  /* selected link */
 li > a:active {
    color: grey;
    font-size: 25px;
  }
/* * {
    border: 1px solid red;
} */